.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%
}
.hero__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.hero__text h2{
  font-size:48px;
  color: var(--secondary-color);
}

.hero__text h1{
  font-size: 32px;
  color: var(--primary-color);
}

.hero__text p{
  font-size:24px;
}

.hero__img picture img{
  width: 100%;
}

@media screen and (min-width: 768px){
  .hero{
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
}
